################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CVWaferProber
/ChipMapping/bin/Debug/net8.0-windows
/ChipMapping/obj
/CVWaferProber/bin/Debug/net8.0-windows
/CVWaferProber/obj
/.vs
/CVImageView/obj
/CVImageView/bin/Debug/net8.0-windows
/CVDB/bin
/CVDB/obj
/ChipMapping/bin/Release/net8.0-windows
/CVWaferProber/bin/Release/net8.0-windows
/CVWaferProber.Core/bin
/CVWaferProber.Core/obj
/CVWPFCameraImage/bin
/CVWPFCameraImage/obj
