<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Host" value="localhost" />
    <add key="Port" value="3306" />
    <add key="User" value="cv" />
    <add key="Password" value="l04AdfxpxPWp5SuM9wNLYQue" />
    <add key="Database" value="color_vision" />
  </appSettings>
  
</configuration>